<head>

	<!-------CSS----------->
	<link href="/vendorcss/bootstrap.min.css" rel="stylesheet">
	<link href="/vendormentis/metisMenu.min.css" rel="stylesheet">
	<link href="/vendordist/css/sb-admin-2.css" rel="stylesheet">
	<link href="/vendormorrisjs/morris.css" rel="stylesheet">
	<link rel="stylesheet" href="/vendordist/css/custom.css">
	<link href="/vendorfont/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-----JS scripts--->
	<script src="/vendorjq/jquery.min.js"></script>
	<script src="/vendorjs/bootstrap.min.js"></script>
	<script src="/vendorraph/raphael.min.js"></script>
	<script src="/vendormentis/metisMenu.min.js"></script>
	<script src="/vendorraph/raphael.min.js"></script>
	<script src="/vendordist/js/sb-admin-2.js"></script>

	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body class="feed">

<div class="form-inline" style="padding-top: 1%; padding-left: 30%;">
    <div class="form-group has-warning" style="padding-right: 2%; padding-left: 2%;">
        <label class="control-label" for="searchNews">Search more news: </label>
        <input class="form-control" type="text" id="searchNews">
    </div>
    <input class="btn btn-info btn-lg" type="submit" id="submit" name="Search" value="Search">
    <a href="/profile" class="btn btn-warning btn-lg">Go Back</a>
</div>
<div id="container" style="padding-left: 1%; padding-top: 2%;">
	<div class="row">

		<!-----Facebook----->
		<div class="col-md-4">
			<% if (facebook_data != null) { %>
			<div class="chat-panel panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook Feed
				</div>
				<div class="panel-body">
					<ul class="chat">
						<% for(var i = 0; i < facebook_data.length; i++) { %>
						<li class="left clearfix" style="margin-left: -40px;">
							<div class="chat-body clearfix">
                                <%if(facebook_data[i].message != null) {%>
								<p>
									<%= facebook_data[i].message %>
								</p>
                                <%};%>
                                <%if(facebook_data[i].story != null){%>
								<p>
									<%= facebook_data[i].story %>
								</p>
                                <%};%>
							</div>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
			<% } %>
		</div>

		<!-----Twitter----->
		<div class="col-md-4">
			<% if (twitter_data != null) { %>
			<div class="chat-panel panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> Twitter Feed
				</div>

				<div class="panel-body">
					<ul class="chat">
						<% for(var i = 0; i < twitter_data.length; i++) { %>
						<li class="left clearfix" style="margin-left: -40px;">
							<div class="chat-body clearfix">
								<p>
									<%= twitter_data[i].text %> <br><br>

									<strong>Read:</strong><a href=<%= twitter_urls[i] %> target="_blank"><%= twitter_urls[i] %></a><br><br>

									<b>Posted by: </b><i><a href=<%= twitter_data[i].user.url %> target="_blank">
											<%= twitter_data[i].user.name %></a></i>
								</p>
							</div>
						</li>
						<% };;;;; %>
					</ul>
				</div>
			</div>

			<% } %>
		</div>

		<!-----TechCrunch----->
		<div class="col-md-4">
			<% if (techcrunch != null) { %>
			<div class="chat-panel panel panel-green">
				<div class="panel-heading">
					<i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> TechCrunch
				</div>

				<div class="panel-body">
					<ul class="chat">
						<% for(var i = 0; i < techcrunch.length; i++) { %>
						<li class="left clearfix" style="margin-left: -40px;">
							<div class="chat-body clearfix">
								<p>
									<strong><%= techcrunch[i].title %> </strong><br><br>
									<%= techcrunch[i].description %> <br><br>

									<img src=<%= techcrunch[i].urlToImage %> style="width:100%;height:228px;"><br>

									<strong>Read:</strong> <a href=<%= techcrunch[i].url %> target="_blank"><%= techcrunch[i].url %></a><br>

									<strong>Posted by:</strong> <i><%= techcrunch[i].author %></i> <br>
								</p>
							</div>
						</li>
                        <% };;;;; %>
                    </ul>
				</div>
			</div>

			<% } %>
		</div>
	</div>
</div>

<div style="width: 100%;">
<iframe style="padding-left: 31%; padding-top: 1%; padding-bottom: 2%;" width="70%;" height="43%"
		src="https://www.youtube.com/embed/HbfLlDlJ1qA?autoplay=1"
		frameborder="0" allowfullscreen ></iframe>
</div>

</body>